body {
  background: linear-gradient(
    to right,
    rgb(75, 121, 161),
    rgb(40, 62, 81)
  );
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background: #20d33e;
  width: 100%;
  padding: 30px;
  height: 100vh;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: #d32020;
  margin-bottom: 20px;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 25px;
  max-width: 400px;
  margin: auto auto;
}

input {
  border-color: black;
  width: 330px;
}

.todo,
input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background: none;
  border: none;
  font-size: 10px;
}

.btn a {
  color: rgb(2, 3, 2);
}

.btn-remove {
  margin-left: 5px;
} */